<!DOCTYPE html>
<!-- saved from url=(0035)http://respooonsive.com/ever-after/ -->
<html lang="en" class=" js no-touch csstransitions csstransformspreserve3d">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{% block description %}Giorgio y Dalila es nuestro espacio web en donde damos información relacionada con un día muy especial para nosotros, nuestra boda.{% endblock %}">
<meta name="keywords" content="giorgio,dalila,giorgio de la barrera,dalila taborda,septiembre 2015">
<meta name="author" content="Giorgio de la Barrera">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
<title>{% block title %}Giorgio y Dalila{% endblock %}</title>

<link rel="stylesheet" href="{{ asset('bundles/app/resources/font-awesome-4.3.0/css/font-awesome.min.css') }}">
{% stylesheets
	'bundles/app/css/*'
	'bundles/app/css/giorgiodalila.css'
	filter='cssrewrite' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700">

{% javascripts '@AppBundle/Resources/public/js/modernizr.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--[if lt IE 9]><script src="{{ asset('bundles/app/js/html5shiv.js') }}"></script><![endif]-->
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
<nav class="menu" id="theMenu">
<div class="menu-wrap">
	<h1 class="logo"><a href="{{ path('homepage') }}#inicio">giorgio&dalila</a></h1>
	<a href="{{ path('homepage') }}#inicio" class="smoothScroll">Inicio</a>
	<a href="{{ path('homepage') }}#agradecimientos" class="smoothScroll">Agradecimientos</a>
	<a href="{{ path('homepage') }}#galeria" class="smoothScroll">Galeria</a>
	<a href="{{ path('homepage') }}#eventos" class="smoothScroll">Eventos</a>
	<a href="{{ path('homepage') }}#social" class="smoothScroll">Social</a>
</div>
<div id="menuToggle">
	<i class="fa fa-heart"></i>
</div>
</nav>
<section id="inicio"></section>
<div id="headerwrap" class="hero" style="height: 763px;">
	<div class="container">
		<br>
		<h1>Giorgio <span class="amp">&amp;</span> Dalila</h1>
		<h2 class="amp">26/09/15</h2>
		<div class="row">
			<br/><br/><br/><div class="col-lg-6 col-lg-offset-3"></div>
		</div>
	</div>
	<div id="overlay"></div>
	<ul id="slide-list">
		<li class="slide-link-0"><a></a></li>
		<li class="slide-link-1 current-slide"><a></a></li>
		<li class="slide-link-2"><a></a></li>
	</ul>
	<ul id="supersized"></ul>
</div>
<div class="white">
	<div class="container">
		<div class="row">
			<h2>Nos casamos en:</h2>
			<span class="hearts"></span>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<ul id="countdown_dashboard">
					<li class="dash weeks_dash">
						<span class="dash_title">semanas</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash days_dash">
						<span class="dash_title">días</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash hours_dash">
						<span class="dash_title">horas</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash minutes_dash">
						<span class="dash_title">minutos</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash seconds_dash">
						<span class="dash_title">segundos</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<section id="story"></section>
<div class="grey">
	<div class="container">
		<div class="row">
			<ul class="ch-grid row">
				<li>
				<div class="ch-item ch-img-1">
					<div class="ch-info">
						<h3>Giorgio De la Barrera</h3>
						<p>
							GIO
						</p>
					</div>
				</div>
				</li>
				<li id="mid">
				<div class="ch-item ch-img-2">
					<div class="ch-info">
						<h3>Sr y Sra De la Barrera</h3>
					</div>
				</div>
				</li>
				<li>
				<div class="ch-item ch-img-3">
					<div class="ch-info">
						<h3>Dalila Taborda</h3>
						<p>
							LILA
						</p>
					</div>
				</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<section id="agradecimientos"></section>
<div class="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h2>Agradecimientos</h2>
				<span class="hearts"></span>
				<p>
					<span class="dropcap">Q</span>ueremos agradeceros a cada uno de vosotros por formar parte de nuestra vida compartiendo momentos con nosotros y ayudarnos a poder dar los pasos para poder disfrutar de este día tan especial.
				</p>
			</div>
		</div>
	</div>
</div>
<section id="galeria"></section>
<div class="darkgrey">
	<section id="photostack" class="photostack photostack-start">
	<div>
		<figure style="-webkit-transform: translate(528px, 20px) rotate(-31deg); transform: translate(528px, 20px) rotate(28deg);">
		<a href="{{ asset('bundles/app/img/1.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/1s.JPG') }}" alt="img01"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(48px, -160px) rotate(-2deg); transform: translate(48px, -160px) rotate(-19deg);">
		<a href="{{ asset('bundles/app/img/2.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/2s.JPG') }}" alt="img02"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(1168px, -160px) rotate(23deg); transform: translate(1168px, -160px) rotate(-29deg);">
		<a href="{{ asset('bundles/app/img/3.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/3s.JPG') }}" alt="img03"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(368px, 200px) rotate(4deg); transform: translate(368px, 200px) rotate(-3deg);">
		<a href="{{ asset('bundles/app/img/4.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/4s.JPG') }}" alt="img04"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(528px, 380px) rotate(18deg); transform: translate(528px, 380px) rotate(4deg);">
		<a href="{{ asset('bundles/app/img/5.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/5s.JPG') }}" alt="img05"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(-112px, 20px) rotate(-29deg); transform: translate(-112px, 20px) rotate(-35deg);">
		<a href="{{ asset('bundles/app/img/6.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/6s.JPG') }}" alt="img06"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(688px, 380px) rotate(-13deg); transform: translate(688px, 380px) rotate(33deg);">
		<a href="{{ asset('bundles/app/img/7.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/7s.JPG') }}" alt="img07"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(1008px, -160px) rotate(15deg); transform: translate(1008px, -160px) rotate(34deg);">
		<a href="{{ asset('bundles/app/img/8.jpg') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/8s.jpg') }}" alt="img08"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(848px, 20px) rotate(6deg); transform: translate(848px, 20px) rotate(4deg);">
		<a href="{{ asset('bundles/app/img/9.jpg') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/9s.jpg') }}" alt="img09"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(528px, -160px) rotate(22deg); transform: translate(528px, -160px) rotate(3deg);">
		<a href="{{ asset('bundles/app/img/10.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/10s.JPG') }}" alt="img10"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(848px, -160px) rotate(1deg); transform: translate(848px, -160px) rotate(-19deg);">
		<a href="{{ asset('bundles/app/img/11.jpg') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/11s.jpg') }}" alt="img11"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(368px, 380px) rotate(30deg); transform: translate(368px, 380px) rotate(8deg);">
		<a href="{{ asset('bundles/app/img/12.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/12s.JPG') }}" alt="img12"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(528px, -160px) rotate(22deg); transform: translate(528px, -160px) rotate(3deg);">
		<a href="{{ asset('bundles/app/img/13.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/13s.JPG') }}" alt="img10"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(848px, -160px) rotate(1deg); transform: translate(848px, -160px) rotate(-19deg);">
		<a href="{{ asset('bundles/app/img/14.jpg') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/14s.jpg') }}" alt="img11"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(368px, 380px) rotate(30deg); transform: translate(368px, 380px) rotate(8deg);">
		<a href="{{ asset('bundles/app/img/15.JPG') }}" class="photostack-img"><img src="{{ asset('bundles/app/img/15s.JPG') }}" alt="img12"></a>
		<figcaption>
		<h2 class="photostack-title">Giorgio & Dalila</h2>
		</figcaption>
		</figure>
	</div>
	<nav><span></span><span></span><span></span><span></span><span></span><span></span></nav></section>
</div>
<section id="eventos"></section>
<div class="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Eventos</h2>
				<span class="hearts"></span>
				<div class="col-md-6 gd-download-invitation">
					<a target="_blank" href="{{ asset('bundles/app/img/ANVERSO.jpg') }}">Descargar invitación - exterior</a>
				</div>
				<div class="col-md-6 gd-download-invitation">
					<a target="_blank" href="{{ asset('bundles/app/img/REVERSO.jpg') }}">Descargar invitación - interior</a>
				</div>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							11:00
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>Castillo de Rubí</h3>
							<p>
								<a target="_blank" href="https://goo.gl/maps/wGJqb">Ver en Google Maps</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							12:00
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>Salón del Reino</h3>
							<p>
								<a target="_blank" href="https://goo.gl/maps/Dihlw">Ver en Google Maps</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							14:00
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>Salón de fiestas Terrassa</h3>
							<p>
								<a target="_blank" href="https://goo.gl/maps/fxUAw">Ver en Google Maps</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="social"></section>
<div id="rsvpwrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="fa-stack fa-4x">
					<a href="https://instagram.com/explore/tags/se%C3%B1oryse%C3%B1oradelabarrera/" target="_blank">
						<i class="fa fa-circle fa-stack-2x gd-circle-icon"></i>
						<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</a>
				</span>
				<h2><a href="https://instagram.com/explore/tags/se%C3%B1oryse%C3%B1oradelabarrera/" target="_blank">#señoryseñoradelabarrera</a></h2>
			</div>
		</div>
	</div>
</div>
<div class="grey">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Esposos deben de estar amando a sus esposas como a sus propios cuerpos</h2>
				<span>Efesios 5:28</span>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<span>Giorgio & Dalila</span>
			</div>
			<div class="col-xs-12 text-center">
				<a href="https://instagram.com/explore/tags/se%C3%B1oryse%C3%B1oradelabarrera/"><i class="fa fa-instagram fa-lg"></i> #señoryseñoradelabarrera</a>
			</div>
		</div>
	</div>
</div>
{% javascripts
	'@AppBundle/Resources/public/js/jquery.min.js'
	'@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
$(document).ready(function () {
	jQuery.supersized({
        slide_interval: 3000,
        transition: 1,
        transition_speed: 700,
        slide_links: 'blank',
        slides: [{
            image: "{{ asset('bundles/app/img/DPP_0016.small.jpg') }}"
        }, {
            image: "{{ asset('bundles/app/img/vlcsnap-2015-06-15-19h41m30s221.small.png') }}"
        }, {
            image: "{{ asset('bundles/app/img/kjhg.small.JPG') }}"
        }]
    });
});
</script>
</body>
</html>