<!DOCTYPE html>
<!-- saved from url=(0035)http://respooonsive.com/ever-after/ -->
<html lang="en" class=" js no-touch csstransitions csstransformspreserve3d">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{% block description %}Giorgio y Dalila es nuestro espacio web en donde damos información relacionada con un día muy especial para nosotros, nuestra boda.{% endblock %}">
<meta name="author" content="">
<link rel="shortcut icon" href="http://respooonsive.com/ever-after/img/favicon.ico">
<title>{% block title %}Giorgio y Dalila{% endblock %}</title>

<link rel="stylesheet" href="{{ asset('bundles/app/resources/font-awesome-4.3.0/css/font-awesome.min.css') }}">
{% stylesheets
	'bundles/app/css/*'
	'bundles/app/css/giorgiodalila.css'
	filter='cssrewrite' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700">

{% javascripts '@AppBundle/Resources/public/js/modernizr.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--[if lt IE 9]><script src="{{ asset('bundles/app/js/html5shiv.js') }}"></script><![endif]-->
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
<nav class="menu" id="theMenu">
<div class="menu-wrap">
	<h1 class="logo"><a href="http://respooonsive.com/ever-after/index.html#home">giorgio&dalila</a></h1>
	<a href="http://respooonsive.com/ever-after/#home" class="smoothScroll">Home</a>
	<a href="http://respooonsive.com/ever-after/#story" class="smoothScroll">Our Love Story</a>
	<a href="http://respooonsive.com/ever-after/#gallery" class="smoothScroll">Gallery</a>
	<a href="http://respooonsive.com/ever-after/#events" class="smoothScroll">Events</a>
	<a href="http://respooonsive.com/ever-after/#rsvp" class="smoothScroll">RSVP</a>
	<a href="http://respooonsive.com/ever-after/#gifts" class="smoothScroll">Gifts</a>
	<a href="http://respooonsive.com/ever-after/#"><i class="fa fa-facebook"></i></a>
	<a href="http://respooonsive.com/ever-after/#"><i class="fa fa-twitter"></i></a>
	<a href="http://respooonsive.com/ever-after/#"><i class="fa fa-dribbble"></i></a>
	<a href="http://respooonsive.com/ever-after/#"><i class="fa fa-envelope"></i></a>
</div>
<div id="menuToggle">
	<i class="fa fa-heart"></i>
</div>
</nav>
<section id="home"></section>
<div id="headerwrap" class="hero" style="height: 763px;">
	<div class="container">
		<br>
		<h1>Giorgio <span class="amp">&amp;</span> Dalila</h1>
		<!-- <h2 class="amp">are getting married!</h2> -->
		<div class="row">
			<br/><br/><br/><div class="col-lg-6 col-lg-offset-3"></div>
		</div>
	</div>
	<div id="overlay"></div>
	<ul id="slide-list">
		<li class="slide-link-0"><a></a></li>
		<li class="slide-link-1 current-slide"><a></a></li>
		<li class="slide-link-2"><a></a></li>
	</ul>
	<ul id="supersized"></ul>
</div>
<div class="white">
	<div class="container">
		<div class="row">
			<h2>Nos casamos en:</h2>
			<span class="hearts"></span>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<ul id="countdown_dashboard">
					<li class="dash weeks_dash">
						<span class="dash_title">semanas</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash days_dash">
						<span class="dash_title">días</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash hours_dash">
						<span class="dash_title">horas</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash minutes_dash">
						<span class="dash_title">minutos</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
					<li class="dash seconds_dash">
						<span class="dash_title">segundos</span>
						<div class="digit"></div>
						<div class="digit"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<section id="story"></section>
<div class="grey">
	<div class="container">
		<div class="row">
			<ul class="ch-grid row">
				<li>
				<div class="ch-item ch-img-1">
					<div class="ch-info">
						<h3>James Elric</h3>
						<p>
							THE GROOM
						</p>
					</div>
				</div>
				</li>
				<li id="mid">
				<div class="ch-item ch-img-2">
					<div class="ch-info">
						<h3>Mr. and Mrs. Elric</h3>
					</div>
				</div>
				</li>
				<li>
				<div class="ch-item ch-img-3">
					<div class="ch-info">
						<h3>Jessie Mendiola</h3>
						<p>
							THE BRIDE
						</p>
					</div>
				</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Our Love story</h2>
				<span class="hearts"></span>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							Jan, 2011
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>First Date</h3>
							<p>
								<span class="dropcap">N</span>am liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
							</p>
						</div>
					</div>
				</div>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							Feb, 2011
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>Second Meeting</h3>
							<p>
								<span class="dropcap">O</span>am liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
							</p>
						</div>
					</div>
				</div>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							Mar, 2012
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>He played a music for me</h3>
							<p>
								<span class="dropcap">W</span>am liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
							</p>
						</div>
					</div>
				</div>
				<div class="row postDetails">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<div class="postYear">
							April, 2012
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
						<div class="arrowpart">
						</div>
						<div class="exCon">
							<h3>Our first picture together</h3>
							<p>
								<span class="dropcap">S</span>am liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="gallery"></section>
<div class="darkgrey">
	<section id="photostack" class="photostack photostack-start">
	<div>
		<figure style="-webkit-transform: translate(528px, 20px) rotate(-31deg); transform: translate(528px, 20px) rotate(28deg);">
		<a href="http://respooonsive.com/ever-after/images/1.jpg" class="photostack-img"><img src="{{ asset('bundles/app/img/1s.jpg') }}" alt="img01"></a>
		<figcaption>
		<h2 class="photostack-title">Serenity Beach</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(48px, -160px) rotate(-2deg); transform: translate(48px, -160px) rotate(-19deg);">
		<a href="http://respooonsive.com/ever-after/images/2.jpg" class="photostack-img"><img src="{{ asset('bundles/app/img/2s.jpg') }}" alt="img02"></a>
		<figcaption>
		<h2 class="photostack-title">Happy Days</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(1168px, -160px) rotate(23deg); transform: translate(1168px, -160px) rotate(-29deg);">
		<a href="http://respooonsive.com/ever-after/images/3.jpg" class="photostack-img"><img src="{{ asset('bundles/app/img/3s.jpg') }}" alt="img03"></a>
		<figcaption>
		<h2 class="photostack-title">Beautywood</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(368px, 200px) rotate(4deg); transform: translate(368px, 200px) rotate(-3deg);">
		<a href="http://respooonsive.com/ever-after/images/4.jpg" class="photostack-img"><img src="{{ asset('bundles/app/img/4s.jpg') }}" alt="img04"></a>
		<figcaption>
		<h2 class="photostack-title">Heaven of time</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(528px, 380px) rotate(18deg); transform: translate(528px, 380px) rotate(4deg);">
		<a href="http://respooonsive.com/ever-after/images/5.jpg" class="photostack-img"><img src="{{ asset('bundles/app/img/5s.jpg') }}" alt="img05"></a>
		<figcaption>
		<h2 class="photostack-title">Speed Racer</h2>
		</figcaption>
		</figure>
		<figure style="-webkit-transform: translate(-112px, 20px) rotate(-29deg); transform: translate(-112px, 20px) rotate(-35deg);">
		<a href="http://respooonsive.com/ever-after/images/6.jpg" class="photostack-img"><img src="{{ asset('bundles/app/img/6s.jpg') }}" alt="img06"></a>
		<figcaption>
		<h2 class="photostack-title">Forever this</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(688px, 380px) rotate(-13deg); transform: translate(688px, 380px) rotate(33deg);">
		<a href="http://respooonsive.com/ever-after/#" class="photostack-img"><img src="{{ asset('bundles/app/img/7s.jpg') }}" alt="img07"></a>
		<figcaption>
		<h2 class="photostack-title">Lovely Green</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(1008px, -160px) rotate(15deg); transform: translate(1008px, -160px) rotate(34deg);">
		<a href="http://respooonsive.com/ever-after/#" class="photostack-img"><img src="{{ asset('bundles/app/img/8s.jpg') }}" alt="img08"></a>
		<figcaption>
		<h2 class="photostack-title">Wonderful</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(848px, 20px) rotate(6deg); transform: translate(848px, 20px) rotate(4deg);">
		<a href="http://respooonsive.com/ever-after/#" class="photostack-img"><img src="{{ asset('bundles/app/img/9s.jpg') }}" alt="img09"></a>
		<figcaption>
		<h2 class="photostack-title">Love Addict</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(528px, -160px) rotate(22deg); transform: translate(528px, -160px) rotate(3deg);">
		<a href="http://respooonsive.com/ever-after/#" class="photostack-img"><img src="{{ asset('bundles/app/img/10s.jpg') }}" alt="img10"></a>
		<figcaption>
		<h2 class="photostack-title">Friendship</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(848px, -160px) rotate(1deg); transform: translate(848px, -160px) rotate(-19deg);">
		<a href="http://respooonsive.com/ever-after/#" class="photostack-img"><img src="{{ asset('bundles/app/img/11s.jpg') }}" alt="img11"></a>
		<figcaption>
		<h2 class="photostack-title">White Nights</h2>
		</figcaption>
		</figure>
		<figure data-dummy="" style="-webkit-transform: translate(368px, 380px) rotate(30deg); transform: translate(368px, 380px) rotate(8deg);">
		<a href="http://respooonsive.com/ever-after/#" class="photostack-img"><img src="{{ asset('bundles/app/img/12s.jpg') }}" alt="img12"></a>
		<figcaption>
		<h2 class="photostack-title">Serendipity</h2>
		</figcaption>
		</figure>
	</div>
	<nav><span></span><span></span><span></span><span></span><span></span><span></span></nav></section>
</div>
<section id="events"></section>
<div class="white noPadding">
	<div class="container">
		<div class="row">
			<h2>Events</h2>
			<span class="hearts"></span>
			<div class="col-md-6 event">
				<h3>Main Ceremony</h3>
				<div class="grid">
					<a href="http://respooonsive.com/ever-after/#">
					<figure>
					<img src="{{ asset('bundles/app/img/event-1.jpg') }}">
					<figcaption>
					<button>View</button>
					</figcaption>
					</figure>
					</a>
				</div>
				<div class="event-meta">
					<span><i class="fa fa-calendar-o"></i> May 5, 2014</span><span><i class="fa fa-clock-o"></i> 3:00pm - 4:00pm</span>
					<span><i class="fa fa-building-o"></i> San Sebastian Parish Church</span>
				</div>
				<p class="justify">
					<span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<a href="http://respooonsive.com/ever-after/#" class="link">View in Google Maps</a>
				<br>
			</div>
			<div class="col-md-6 event">
				<h3>After Party</h3>
				<div class="grid">
					<a href="http://respooonsive.com/ever-after/#">
					<figure>
					<img src="{{ asset('bundles/app/img/event-2.jpg') }}">
					<figcaption>
					<button>View</button>
					</figcaption>
					</figure>
					</a>
				</div>
				<div class="event-meta">
					<span><i class="fa fa-calendar-o"></i> May 5, 2014</span><span><i class="fa fa-clock-o"></i> 3:00pm - 4:00pm</span>
					<span><i class="fa fa-building-o"></i> Carribean Resort, Goldenfield</span>
				</div>
				<p class="justify">
					<span class="dropcap">S</span>ome ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<a href="http://respooonsive.com/ever-after/#" class="link">View in Google Maps</a>
				<br>
			</div>
		</div>
	</div>
</div>
<section id="rsvp"></section>
<div id="rsvpwrap">
	<div class="container">
		<div class="row">
			<h2 class="amp">Don't Forget to RSVP</h2>
			<span class="hearts"></span>
			<form name="contact" method="post" action="http://respooonsive.com/ever-after/index.html" class="af-form" id="af-form">
				<div class="col-lg-4 col-lg-offset-4">
					<div class="form-group">
						<input type="text" name="name" id="name" size="30" value="" placeholder="Name" class="text-input form-control">
						<label class="error" for="name" id="name_error" style="display: none;">Name is required.</label>
					</div>
					<div class="form-group">
						<input type="radio" value="Will be there" id="response_accepted" name="response">
						Will be there <input type="radio" value="Won&#39;t make it" id="response_declined" name="response">
						Won't make it <label id="response_error" for="response" class="error" style="display: none;">Please select an option</label>
					</div>
					<div class="form-group">
						<input type="text" name="email" id="email" size="30" value="" placeholder="Email" class="text-input form-control">
						<label class="error" for="email" id="email_error" style="display: none;">Email is required.</label>
					</div>
					<div class="form-group">
						<input type="text" name="guests" id="guests" size="30" value="" placeholder="No. of guests attending" class="text-input form-control">
						<label class="error" for="guests" id="guests_error" style="display: none;">No. of guests is required.</label>
					</div>
					<div class="form-group">
						<textarea name="message" id="input-message" cols="30" placeholder="Message" class="text-input form-control"></textarea>
						<label class="error" for="input-message" id="message_error" style="display: none;">Message is required.</label>
					</div>
					<div class="form-group af-outer af-required">
						<input type="submit" name="submit" class="form-button btn btn-primary form-control" id="submit_btn" value="Submit">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<section id="gifts"></section>
<div class="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h2>Agradecimientos</h2>
				<span class="hearts"></span>
				<p>
					<span class="dropcap">Q</span>ueremos agradeceros a cada uno de vosotros por formar parte de nuestra vida compartiendo momentos con nosotros y ayudarnos a poder dar los pasos para poder disfrutar de este día tan especial.
				</p>
				<!-- <ul class="list-inline">
					<li><a href="http://respooonsive.com/ever-after/#"><img src="{{ asset('bundles/app/img/envato1.png') }}" alt="test"></a></li>
					<li><a href="http://respooonsive.com/ever-after/#"><img src="{{ asset('bundles/app/img/envato1.png') }}" alt="test"></a></li>
					<li><a href="http://respooonsive.com/ever-after/#"><img src="{{ asset('bundles/app/img/envato1.png') }}" alt="test"></a></li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="grey">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Esposos deben de estar amando a sus esposas como a sus propios cuerpos</h2>
				<span>Efesios 5:28</span>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div id="copy">
				<span>Giorgio & Dalila</span>
			</div>
		</div>
	</div>
</div>
{% javascripts
	'@AppBundle/Resources/public/js/jquery.min.js'
	'@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
$(document).ready(function () {
	jQuery.supersized({
        slide_interval: 3000,
        transition: 1,
        transition_speed: 700,
        slide_links: 'blank',
        slides: [{
            image: "{{ asset('bundles/app/img/slider-1.jpg') }}"
        }, {
            image: "{{ asset('bundles/app/img/slider-2.jpg') }}"
        }, {
            image: "{{ asset('bundles/app/img/slider-3.jpg') }}"
        }]
    });
});
</script>
<!-- <script src="./Ever After - Responsive Wedding Invite Template_files/jquery.min.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/jquery.lwtCountdown-1.0.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/bootstrap.min.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/smoothscroll.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/jquery.smooth-scroll.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/jquery.magnific-popup.min.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/supersized.3.2.7.min.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/classie.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/ajax-mail.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/photostack.js"></script>
<script src="./Ever After - Responsive Wedding Invite Template_files/main.js"></script> -->
<!-- <ul id="supersized">
</ul> -->
</body>
</html>